body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,body {
  height:100%; 
  width:100%; 
  margin:0;
}
.h_iframe iframe {
  width:100%;
   height:100%;
}
.h_iframe {
    height: 100%; 
    width:100%;
}
html>body .fixe {
  position: fixed
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important; 
}

/* .slide {
  width: 100vw!important;
  margin: 0!important;
  background: #2A6654!important;
}
.slick-test .slick-track{
  background: none !important;
}
.slick-next {
  right: -16px !important;
}

.slick-prev {
  left: -19px !important;
}
.slick-slider{
  position: relative;
  padding: 0!important;
  margin: 0!important;
}
.slick-dots {
  position: absolute;
  bottom: 0px !important;
}
.slick-prev:before,
.slick-next:before {
  color: #424242 !important;
  font-size: 25px!important;
  
} */

/* the slides */
.slick-slide {
  padding: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}
button[aria-label="prev"] { 
  position: absolute;
  right: 51%;
  bottom: 0;
}
button[aria-label="next"] { 
  position: relative;
  left: 51%;
}

.carousel .slide img {
  pointer-events: auto!important;
}
/* FADE EFFECT BEETWEEN PAGE */

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms linear 1500ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit,
.fade-enter.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}

.modal-dialog{
  max-width: 85vw!important;
  
}  
@media (max-width: 565px){
  .modal-dialog{
    max-width: 100vw!important;
  }  
}
.modal-content{
  background: #FFF!important;
}  

.modal-header {
  border-bottom: none !important;
}


.modal-body {
  padding: 0 !important;
}

.container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* BURGER MENU */
/* Position and sizing of burger button */
@media (min-width: 1023px) {
  .bm-burger-button{
    display: none
 }
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 40px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #2A6654;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #2A6654;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100vw;
}

/* General sidebar styles */
.bm-menu {
  background: #f1f1f1;
  padding: 1.5em 1.5em 0;
  font-size: 1.2em;
  overflow: hidden !important;
  /* display: none;
  @media (max-width: 1023px) {
    display: block;
  } */

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #2A6654;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 1.2em;
  margin: 15px 0;
  text-decoration: none;
}